body{
	padding:25px;
	margin:25px;
}
table {
    border-collapse: collapse;
	width:100%;
	padding-bottom:20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {background-color: #888; color:white;}

